
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid blueviolet ;
    position: sticky;
    top: 0;
    background-color:white;

    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 20px;
       
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid ;
        border-radius: 5px;
        padding: 5px;

        input {
          border: none;
          width: 500px;
          background-color: transparent;
   

       
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 50px;

    

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;


        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        button{
          border: none;
          cursor: pointer;
          
        }
      }

    }

    
    .log-out{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 40px;
      margin-top: 10px;
      border-radius: 5px;
      background-color: rgb(176, 103, 245);
      border: none;
 
      cursor: pointer;
    
    }
  }

